---
export const prerender = true;
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/landing/HeroSection.astro';
import MetricsBarSection from '../components/landing/MetricsBarSection.astro';
import ProblemSection from '../components/landing/ProblemSection.astro';
import MethodologySection from '../components/landing/MethodologySection.astro';
import GuaranteeSection from '../components/landing/GuaranteeSection.astro';
import FAQSection from '../components/landing/FAQSection.astro';
import CTASection from '../components/landing/CTASection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<HeroSection />
			<MetricsBarSection />
			<ProblemSection />
			<MethodologySection />
			<GuaranteeSection />
			<FAQSection />
			<CTASection />
		</main>
		<Footer />
				<!--Start of Tawk.to Script-->
		<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/69eb7f7c51b75c1c39c7212e/1jmvujvi1';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->
	</body>
</html>
